body {
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2286x1600/24baa6609b89fb8eb0cc0aceb70eaf36/photo-1557682250-33bd709cbe85.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    width: 100%;
    align-self: left;
    word-break: break-all;
}

p {
    text-align: center;
}

nav {
    background-color: #4126ab;
}

hr {
    width: 90%;
}

.active {
    background-color: #6751bc;
    border-radius: 4px;
}

#columnsHolder {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: auto;
    max-height: 100%;
}

.addColumn {
    color: white;
    display: flex;
    padding: 6px 8px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    align-self: flex-end;
}

p {
    margin-left: 3%;
    margin-bottom: 0;
    font-size: larger;
}

#root,
.App {
    height: fit-content;
    max-height: 100%;
}

.fas {
    margin: 2%;
    font-size: larger;
}

.addList {
    background-color: #ebecf0;
    padding: 4px;
    border-radius: 4px;
    display: none;
}

.addList input {
    margin-bottom: 4px;
    padding: 8px 12px;
    font-size: 20px;
    box-shadow: 0 0 0 2px #0079bf;
    border-radius: 3px;
    border: none;
    height: fit-content;
    width: 100%;
    height: 35px;
}

.js-list {
    width: 272px;
    padding: 4px;
    margin: 4px;
}

.js-column {
    height: fit-content;
    max-height: 100%;
}

#columns {
    display: flex;
    width: fit-content;
}

.list {
    background-color: #ebecf0;
    margin: 4px;
    border-radius: 3px;
}

#column {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

#columns .addColumn p,
#columns i {
    color: black;
}

.card {
    width: 264px;
    border-radius: 3px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card p {
    margin-left: 0;
    text-align: left;
    width: -webkit-fill-available;
}

.card i {
    width: fit-content;
}

.CardModal,
.CardModal .actions,
.CardModal .descriptions {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-between;
}

.CardModal i {
    margin: 0;
}

.CardModal p {
    width: max-content;
    margin-left: 15%;
}

.CardModal .content {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.CardModal .action {
    display: flex;
    width: 200px;
    background-color: #091e420a;
    padding: 6px 8px;
    border-radius: 3px;
    margin-bottom: 4%;
}

.CardModal .action:hover {
    background-color: rgb(230, 230, 230);
}

.CardModal .action p {
    margin-left: 0;
}

.CardModal .action i {
    margin-top: 3%;
    margin-right: 2%;
}

.ReactModal__Content--after-open {
    width: 40%;
    height: fit-content;
    margin: auto;
}

#showInputLabelIcon {
    background-color: #ebecf0;
    padding: 10px 12px;
    margin-top: auto;
    margin-bottom: auto;
}

#showInputLabelIcon:hover {
    background-color: rgb(230, 230, 230);
}

#inputLabel {
    display: none;
    width: 272px;
}

.labels {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.labels p {
    padding: 4px 6px;
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    margin-right: 3%;
    margin-left: 0;
    margin-bottom: 2%;
    margin-top: 2%;
}

.description {
    width: 100%;
}

.description h2 {
    margin-top: 2%;
}

#inputLabel input {
    margin-right: 2%;
    width: 150px;
}

#inputLabel i,
.descriptionInput i {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
}

.descriptionTitle {
    width: 100%;
    display: flex;
}

.description .descriptionTitle button {
    margin-left: 2%;
    padding: 10px 12px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius: 3px;
    background-color: #ebecf0;
}

.description .descriptionTitle button:hover {
    background-color: rgb(230, 230, 230);
}

.fakeInput {
    width: 90%;
    height: 20%;
    background-color: #eaecf0;
    border: none;
    border-radius: 3px;
    padding: 2%;
    color: black;
}

.buttons {
    display: flex;
    margin-top: 2%;
}

textarea {
    width: 90%;
    height: fit-content;
    border: #0079bf 2px solid;
    border-radius: 3px;
    resize: none;
    padding: 2%;
    color: black;
}

.descriptionInput {
    display: none;
    flex-direction: column;
}

#descriptionText {
    margin-left: 13%;
}

.actionsLabels {
    display: flex;
    justify-content: space-between;
    background-color: #091e420a;
    padding: 4px;
    margin-bottom: 1%;
}

.actionsLabels:hover {
    background-color: #ebecf0;
}

#labels {
    display: none;
    flex-direction: column;
    margin-top: -3%;
    margin-bottom: 2%;
}

#dropdownMenuLink{
    width: 100%;
    color: black;
    background-color: transparent;
    border: none;
    text-align: left;
    padding-left: 0;
    font-size: larger;
    margin-top: -2%;
}

.timeDiv{
    display: flex;
    flex-direction: column;
}

.time{
    margin-left: -10% !important;
}